:root.theme-light {
	--rec: transparent;
	--corner: rgba(53, 52, 48, 1);
	--menu: rgba(53, 52, 48, 1);
	--menu-border: rgba(53, 52, 48, 1);
	--bg-page-image: url('../images/cover-image-light.png');
	--accent-color: rgba(255, 141, 203, 1);
	--button-hover-accent-color: rgba(50, 49, 45, 0.4);
	--title-text-color: rgba(53, 52, 48, 1);
	--card-title-text-color: rgba(53, 52, 48, 1);
	--header-footer-title-color: rgba(255, 194, 230, 1);
	--card-text-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
	:root {
		--rec: transparent;
		--corner: rgba(53, 52, 48, 1);
		--menu: rgba(53, 52, 48, 1);
		--menu-border: rgba(53, 52, 48, 1);
		--bg-page-image: url('../images/cover-image-light.png');
		--accent-color: rgba(255, 141, 203, 1);
		--button-hover-accent-color: rgba(50, 49, 45, 0.4);
		--title-text-color: rgba(53, 52, 48, 1);
		--card-title-text-color: rgba(53, 52, 48, 1);
		--header-footer-title-color: rgba(255, 194, 230, 1);
		--card-text-color: rgba(53, 52, 48, 1);
	}
}