.page {
	background-image: var(--bg-page-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: rgba(0, 0, 40, 1);
}

.header {
	height: 100vh;
	min-height: 668px;
	display: grid;
	position: relative;
	grid-template-rows: min-content min-content min-content;
}

.header__theme-menu {
	justify-self: end;
	align-self: start;
	margin-block-start: 75px;
	margin-inline-end: 10px;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header__theme-menu-button {
	padding: 0px 13px 0 13px;
	min-height: 26px;
	background: transparent;
	border: none;
	border-radius: 0px;
	color: var(--accent-color);
	text-align: center;
	font-family: 'IBM Plex mono', sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
}

.header__theme-menu-button_active {
	border: 1px solid var(--accent-color);
	pointer-events: none;
}

.header__theme-menu-button:focus-visible {
	outline: none;
	border-radius: 0;
	border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-item:hover {
	border: 1px solid var(--button-hover-accent-color);
}

.header-rec {
	display: inline-flex;
	align-items: center;
	position: absolute;
	inset-block-start: 10px;
	inset-inline-end: 19px;
	color: var(--rec);
	font-family: 'IBM Plex mono', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
}

.header-rec::after {
	content: '';
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: var(--rec);
	border-radius: 50%;
	box-shadow: 0 0 4px 2px var(--rec);
	margin-inline-start: 10px;
}

.decorated-zone::after,
.decorated-zone::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
}

.decorated-zone::after {
	border-style: solid solid none none;
	border-width: 1px 1px 0 0;
	border-color: var(--accent-color);
	inset-block-start: 10px;
	inset-inline-end: 10px;
}

.decorated-zone::before {
	border-style: none none solid solid;
	border-width: 0 0 1px 1px;
	border-color: var(--accent-color);
	inset-block-end: 10px;
	inset-inline-start: 10px;
}

.header-title {
	color: var(--header-footer-title-color);
	text-shadow: 4px 4px 0 var(--accent-color);
	font-family: 'IBM Plex mono', sans-serif;
	font-weight: 700;
	font-size: var(--header-footer-mobile-font-size);
	line-height: 83%;
	margin-block-start: 65px;
	margin-inline-start: 10px;
	margin-inline-end: 10px;
}

.header-p {
	font-family: 'IBM Plex mono', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 23.4px;
	color: var(--title-text-color);
	margin-block-start: 55px;
	margin-inline-start: 10px;
	margin-inline-end: 10px;
}

.title-decor {
	background-color: var(--accent-color);
}

.main {
	display: grid;
	gap: 50px;
	margin-block-start: 40px;
}

.section {
	display: grid;
	gap: 20px;
	margin-inline-start: 10px;
	margin-inline-end: 10px;
}

.section-title {
	color: var(--accent-color);
	font-family: 'IBM Plex mono', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 23.4px;
}

.card {
	display: grid;
	gap: 10px;
}

.card-title {
	color: var(--title-text-color);
	font-family: 'IBM Plex mono', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 23.4px;
}

.regular-card-title {
	font-weight: 400;
}

.card-text {
	color: var(--card-text-color);
	font-family: 'IBM Plex mono', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 23.4px;
}

.link {
	text-shadow: 2px 2px 0 var(--accent-color);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.link:focus-visible {
	outline: none;
	border: 1px solid var(--card-text-color);
	border-radius: 0;
}

.gallery {
	display: grid;
	gap: 10px;
	margin-inline-start: 10px;
	margin-inline-end: 10px;
}

.footer {
	margin-block-start: 40px;
	height: 100vh;
	min-height: 668px;
	position: relative;
	display: grid;
	align-items: center;
	justify-content: center;
}

.footer-title {
	color: var(--header-footer-title-color);
	text-shadow: 2px 2px var(--accent-color);
	font-family: 'IBM Plex mono', sans-serif;
	font-weight: 700;
	line-height: 83%;
	font-size: var(--header-footer-mobile-font-size);
}

.img {
	max-width: 100%;
	min-width: 0;
	object-fit: contain;
}

@media (width >=768px) {
	.header {
		min-height: 1024px;
	}

	.header-rec {
		inset-block-start: 19px;
		inset-inline-end: 29px;
	}

	.decorated-zone::after {
		inset-block-start: 20px;
		inset-inline-end: 20px;
	}

	.decorated-zone::before {
		inset-block-end: 20px;
		inset-inline-start: 20px;
	}

	.header__theme-menu {
		justify-self: end;
		align-self: start;
		margin-block-start: 192px;
		margin-inline-end: 20px;
	}

	.header-title {
		margin-block-start: 173px;
		margin-block-end: 162px;
		margin-inline-start: 0;
		margin-inline-end: 0;
	}

	.header-p {
		max-width: 364px;
		margin: 0;
		padding: 0;
		margin-inline-end: 20px;
		justify-self: end;
		align-self: end;
	}

	.main {
		gap: 80px;
		margin-block-start: 60px;
	}

	.section {
		margin-inline-start: 20px;
		margin-inline-end: 20px;
	}

	.section-reasons {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.card-reasons {
		grid-column: 2/ span 2;
	}

	.section-answer {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content min-content;
	}

	.card-answer {
		grid-column: 1 / span 3;
	}

	.title-answer {
		grid-column: 1;
	}

	.section-how {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content min-content min-content min-content;
	}

	.card-how {
		grid-column: 2 /span 2;
	}

	.title-how {
		grid-column: 2 /span 2;
	}

	.section-how-title {
		grid-row: 1/ span 2;
	}

	.gallery {
		gap: 20px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content 0.8fr 1fr 1.38fr;
		margin-inline-start: 20px;
		margin-inline-end: 20px;
	}

	.gallery-title {
		grid-row: 1;
		grid-column: 1/ span 3;
	}

	.sunset {
		grid-row: 2;
		grid-column: 1/span 2;
	}

	.ice-cream {
		grid-row: 2/4;
		grid-column: 3;
	}

	.compact-cassette {
		grid-row: 3/5;
		grid-column: 1;
	}

	.book {
		grid-column: 2;
		grid-row: 3;
	}

	.street {
		grid-column: 2/ 4;
		grid-row: 4/5;
	}

	.img {
		height: 100%;
		object-fit: cover;
		display: block;
	}

	.footer {
		margin-block-start: 60px;
		height: 100vh;
		min-height: 1024px;
	}

	.footer-title {
		font-size: var(--header-footer-tablet-font-size);
	}
}

@media (width >=1024px) {
	.header {
		min-height: 768px;
	}

	.header-rec {
		inset-block-start: 19px;
		inset-inline-end: 29px;
	}

	.decorated-zone::after {
		inset-block-start: 20px;
		inset-inline-end: 20px;
	}

	.decorated-zone::before {
		inset-block-end: 20px;
		inset-inline-start: 20px;
	}

	.header__theme-menu {
		justify-self: center;
		margin-block-start: 20px;
	}

	.header__theme-menu-list {
		display: flex;
		flex-direction: row;
	}

	.header-title {
		margin-inline-start: 0;
		margin-block-start: 273px;
		margin-block-end: 114px;
		font-size: var(--header-footer-pc-font-size);
	}

	.header-p {
		max-width: 491px;
		margin: 0;
		margin-inline-end: 20px;
		padding: 0;
		justify-self: end;
		align-self: end;
	}

	.main {
		gap: 80px;
		margin-block-start: 60px;
	}

	.section {
		margin-inline-start: 20px;
		margin-inline-end: 20px;
	}

	.section-answer {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content;
	}

	.card-concentration {
		display: grid;
		grid-template-rows: min-content min-content;
		grid-column: 1;
	}

	.card-eat {
		display: grid;
		grid-template-rows: min-content min-content;
		grid-column: 2;
	}

	.card-gadget {
		grid-column: 3;
	}

	.footer {
		margin-block-start: 60px;
		height: 100vh;
		min-height: 768px;
	}

	.footer-title {
		font-size: var(--header-footer-pc-font-size);
	}
}